/* Guilds selection animation */
.guilds-wrapper .guilds .guild:not(:first-child) {
    transition: height 0.5s;
}
.guilds-wrapper .guilds .guild:not(.guilds-add):not(:first-child):not(.dms) {
    height: 20px;
}
.guilds-wrapper .guilds .guild.selected:before {
    margin-top: -5px;
}
.guilds-wrapper .guilds .guild.selected {
    z-index: 5;
}
.guilds-wrapper .guilds .guild.unread:not(.selected)::before {
    margin-top: 10px;
}
.guilds-wrapper .guilds .guild.unread:hover:not(.selected)::before {
    margin-top: -6px;
}
.guilds-wrapper .guild:not(.guilds-add):not(:first-child):not(.dms):hover {
    height: 40px!important;
    padding-top: 10px;
    transform: scale(1.2);
    z-index:5
}
.guilds-wrapper .guild:hover+.guild:not(.guilds-add):not(:first-child):not(.dms) {
    height: 40px!important;
    padding-top: 0px;
    transform: scale(1.1);
    z-index:4
}
.guilds-wrapper .guild:hover+.guild+.guild:not(.guilds-add):not(:first-child):not(.dms) {
    height: 40px!important;
    padding-top: -10px;
    z-index:3
}
.guilds-wrapper .guild:hover+.guild:not(.guilds-add):not(:first-child):not(.dms):before, .guilds-wrapper .guild:hover+.guild+.guild:not(.guilds-add):not(:first-child):not(.dms):before {
    display: none!important;
}
/*end*/
.chat .new-messages-bar button:first-child {
flex: 0 1 auto;
    position: absolute;
}
.chat .new-messages-bar button:last-child {
	flex: 1;
    right: 0px;
    text-align:center;
}
.chat .new-messages-bar {
	left: 0px;
    right:0px;
}
