//META{"name":"JustTidy","description":"The theme you asked for","author":"<a href='https://github.com/TomSputz/' target='_blank'>@MorethanTom</a>","version":"1"}*//{}

.container-RYiLUQ:not(:hover) ::-webkit-scrollbar {
    display: none;
}
.flex-vertical .channels-wrap {
    width: 10px;
    min-width: 0!important;
    overflow:visible;
}
.container-RYiLUQ,
.private-channels{
    transition: width 200ms ease;
    width:10px;
    min-width:10px;
    z-index:101;
    overflow:hidden;
}
.container-RYiLUQ:hover,
.private-channels:hover{
    width:240px;
}
.container-3lnMWU{
    transition: width 200ms ease;
    width:0px;
    z-index:101;
    overflow:hidden;
    padding:10px 0 10px 10px;
    background-color:rgb(42, 44, 49);
    max-height:32px;
}
.container-RYiLUQ:hover ~ .container-3lnMWU,
.private-channels:hover ~ .container-3lnMWU,
.container-3lnMWU:hover{
	width:220px;
    padding:10px;
}
.container-iksrDt{
    transition: width 200ms ease;
    width:0px;
    z-index:101;
    overflow:hidden;
    padding:0 0 0 10px;
    background-color:rgb(42, 44, 49);
}
.container-RYiLUQ:hover ~ .container-iksrDt,
.private-channels:hover ~ .container-iksrDt,
.container-3lnMWU:hover ~ .container-iksrDt,
.container-iksrDt:hover{
	width:220px;
    padding:0 10px;
}
.channel-members-wrap{
    width:60px;
    min-width:60px;
}
.channel-members{
    transform:translate(0px);
    z-index:1;
    transition:transform 200ms ease;
}
.channel-members:hover{
    transform:translate(-180px);
}
.channel-members:not(:hover) .member .member-activity,
.channel-members:not(:hover) .member .member-username-inner{
    opacity:0;
    transition:opacity 300ms ease;
}
.channel-members >h2,
.channel-members .member{
	transition: padding-left 200ms ease;
}
.channel-members:not(:hover) >h2,
.channel-members:not(:hover) .member{
	padding-left:15px;
}
.channel-members >h2{
	transition:height 40ms ease;
	transition:margin 200ms ease;
}
.guild-channels-wrapper:hover {
    border-radius: 0 0 5px 0;
}
.flex-vertical .guilds-wrapper {
    width: 10px;
    min-width: 0!important;
    transition: width 200ms ease;
}
.guilds-wrapper:hover {
    width: 70px;
}
.channel-members-loading{
    visibility:hidden;
}
